#employee{
    max-width: fit-content;
    margin-top: 12%;
    margin-left: 30%;
}

#company{
    max-width: fit-content;
    margin-top: -47px;
    margin-left: 45%;
}

#searchemp{
    max-width: fit-content;
    margin-top: 5%;
    margin-left: 25%;
}

#searchcom{
    max-width: fit-content;
    margin-top: -50px;
    margin-left: 45%;
}

#btn{
    font-size: 20px;
    padding: 10px;
}