<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company search</title>
    <link rel="stylesheet" href="{% static 'searchcom.css'%}">
</head>
<body>
    <a href="/">HOME</a>
    <div id="heading">
        <form action="/searchcompanydata"></form>
          <h2>Enter some data: <input type="text" name="data">&nbsp;<input type="submit" value="submit"></h2>
    </div>
    <form action="/viewcomdata">
        <input type="submit" id="btn" value="View company Data">

    </form>
</body>
</html>